.container {
  max-width: 1140px;
  margin: auto;
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 50%;
  margin: auto;
}

.formdetails {
  display: flex;
  flex-direction: column;
}

.css-bhp9pd-MuiPaper-root-MuiCard-root {
  width: 70% !important;
  margin: auto;
  padding: 10px;
}